<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets"
        xmlns:tizen="http://tizen.org/ns/widgets"
        id="http://yourdomain.com/TVRecipes"
        version="1.0.0"
        viewmodes="maximized">

    <tizen:application id="TVRecipes.TVRecipes"
                       package="TVRecipes"
                       required_version="3.0"/>

    <content src="index.html"/>

    <name>TV Recipes</name>

    <description>
        Smart TV Recipe Application with D-Pad Navigation
    </description>

    <author href="http://yourdomain.com" email="your@email.com">
        Your Name
    </author>

    <icon src="icon.png"/>

    <tizen:profile name="tv"/>

    <tizen:setting screen-orientation="landscape"
                   context-menu="disable"
                   background-support="disable"
                   encryption="disable"
                   install-location="auto"/>

    <tizen:privilege name="http://tizen.org/privilege/internet"/>

    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>

</widget>

